button.image-capture-button {
    background: #999;
    font-size: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -15px;
    cursor: pointer;
    border: 3px solid #dedede;
}
button.image-retake-button {
    background: orange;
    font-size: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 20%;
    margin-left: -15px;
    cursor: pointer;
    border: 3px solid #dedede;
}
button.image-ok-button {
    background: green;
    font-size: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 20%;
    margin-left: -15px;
    cursor: pointer;
    border: 3px solid #dedede;
}
.countdown-timer {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.countdown-timer .countdown-timer-number {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 50%;
    margin-right: -25px;
}
.camera-capture-container {
    display: inline-block;
    position: relative;
}
.switch-camera-icon {
    position: absolute;
    width: 30px;
    right: 10px;
    top: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}
.camera-select-dropdown {
    position: absolute;
    top: 45px;
    left: 10px;
}

.camera-toggle-button-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 6px;
    height: 30px;
    cursor: pointer;
}
.face-capture-canvas {
    display: inline-block;
}